Repository B3Partners/tailormap, pull requests merged in 2018-06, with the labels that each got.

#1079 truncate wms title and/or name if longer than 254char and log a warning
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/services/Layer.java
Labels: enhancement :+1:

#1080 Fixes visibility of Legend in TOC
  viewer/src/main/webapp/viewer-html/common/viewercontroller/controller/Event.js
  viewer/src/main/webapp/viewer-html/components/Legend.js
  viewer/src/main/webapp/viewer-html/components/TOC.js
Labels: :bomb: bug, viewer

#1081 Add halo to measure values to improve readability
  viewer/src/main/webapp/viewer-html/common/resources/css/openlayers.css
Labels: enhancement :+1:

#1084 Bug/mantis 10872 oracle maximum number of in clauses
  viewer-admin/src/main/java/nl/b3p/viewer/admin/stripes/AttributeSourceActionBean.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/services/UpdatableFeatureSource.java
  viewer-config-persistence/viewer-config-persistence.iml
Labels: :bomb: bug, viewer-admin

#1083 Bug/mantis 10872 oracle maximum number of in clauses
  viewer-admin/src/main/java/nl/b3p/viewer/admin/stripes/AttributeSourceActionBean.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/services/UpdatableFeatureSource.java
  viewer-config-persistence/viewer-config-persistence.iml
Labels: :bomb: bug, viewer-admin

#1086 Fixes #761: Set the default srs on the query. For now RD.
  viewer/src/main/java/nl/b3p/viewer/stripes/FeatureInfoActionBean.java
Labels: :bomb: bug, viewer-admin

#1085 Fixes #761: Set the default srs on the query. For now RD.
  viewer/src/main/java/nl/b3p/viewer/stripes/FeatureInfoActionBean.java
Labels: :bomb: bug, enhancement :+1:, viewer

#1087 The next unstable release will be 5.3.0-SNAPSHOT
  pom.xml
  solr-commons/pom.xml
  viewer-admin/pom.xml
  viewer-commons/pom.xml
  viewer-config-persistence/pom.xml
  viewer/pom.xml
  web-commons/pom.xml
Labels: build infrastructure

#1097 Dependency updates
  pom.xml
Labels: dependencies

#1107 Add a null-check for the application layer in getJSONFeatures(..) [5.2.x backport]
  viewer/src/main/java/nl/b3p/viewer/util/FeatureToJson.java
Labels: :bomb: bug, viewer

#1106 Add a null-check for the application layer in getJSONFeatures(..)
  viewer/src/main/java/nl/b3p/viewer/util/FeatureToJson.java
Labels: :bomb: bug, viewer

#1120 Fixes ‘undefined’ in success message
  viewer/src/main/webapp/viewer-html/components/Edit.js
Labels: :bomb: bug, viewer

#1123 Enable text selection in ‘more’ window [v5.2.x]
  viewer/src/main/webapp/viewer-html/components/Maptip.js
Labels: enhancement :+1:, viewer

#1124 Fixes ‘undefined’ in success message [v5.2.x]
  viewer/src/main/webapp/viewer-html/components/Edit.js
Labels: :bomb: bug, viewer
