Repository B3Partners/tailormap, pull requests merged in 2018-11, with the labels that each got.

#1255 Bug/removed layer gives error in application
  viewer-admin/src/main/java/nl/b3p/viewer/admin/stripes/ApplicationTreeLayerActionBean.java
  viewer-admin/src/main/java/nl/b3p/viewer/admin/stripes/GeoServiceActionBean.java
Labels: :bomb: bug, viewer-admin

#1254 Use existing jsessionid when passing it to the printactionbean
  viewer/src/main/java/nl/b3p/viewer/stripes/CombineImageActionBean.java
  viewer/src/main/webapp/WEB-INF/classes/log4j.properties
Labels: :bomb: bug, viewer

#1155 Feat/extend drawing capabilities
  pom.xml
  viewer-admin/src/main/resources/ViewerResources.properties
  viewer-admin/src/main/resources/ViewerResources_en_US.properties
  viewer-admin/src/main/webapp/META-INF/context.xml
  viewer/src/main/java/nl/b3p/viewer/image/ImageTool.java
  viewer/src/main/resources/ViewerResources.properties
  viewer/src/main/resources/ViewerResources_en_US.properties
  viewer/src/main/webapp/viewer-html/common/ColorField.js
  viewer/src/main/webapp/viewer-html/common/viewercontroller/controller/Feature.js
  viewer/src/main/webapp/viewer-html/common/viewercontroller/controller/FeatureStyle.js
  viewer/src/main/webapp/viewer-html/common/viewercontroller/openlayers/OpenLayersMapComponent.js
  viewer/src/main/webapp/viewer-html/common/viewercontroller/openlayers/OpenLayersVectorLayer.js
  viewer/src/main/webapp/viewer-html/common/viewercontroller/openlayers/tools/OpenLayersMeasureHandler.js
  viewer/src/main/webapp/viewer-html/components/Drawing-config.js
  viewer/src/main/webapp/viewer-html/components/Drawing.js
  viewer/src/main/webapp/viewer-html/components/components.json
  viewer/src/main/webapp/viewer-html/components/resources/images/drawing/calculator_edit.png
  viewer/src/main/webapp/viewer-html/components/resources/images/drawing/circle.png
  viewer/src/main/webapp/viewer-html/components/resources/images/drawing/cross.png
  viewer/src/main/webapp/viewer-html/components/resources/images/drawing/delete.png
  viewer/src/main/webapp/viewer-html/components/resources/images/drawing/square.png
  viewer/src/main/webapp/viewer-html/components/resources/images/drawing/star.png
  viewer/src/main/webapp/viewer-html/components/resources/images/drawing/triangle.png
  viewer/src/main/webapp/viewer-html/components/resources/images/drawing/x.png
Labels: enhancement :+1:, featurerequest :+1:

#1188 Upgrade to GeoTools 20
  pom.xml
  solr-commons/src/main/java/nl/b3p/viewer/solr/SolrUpdateJob.java
  viewer-commons/src/main/java/nl/b3p/geotools/data/arcgis/ArcGISFeatureReader.java
  viewer-commons/src/main/java/nl/b3p/geotools/data/arcgis/ArcGISFeatureSource.java
  viewer-commons/src/main/java/nl/b3p/geotools/data/arcgis/ArcGISUtils.java
  viewer-commons/src/main/java/nl/b3p/geotools/data/arcgis/FilterToArcGISSQL.java
  viewer-commons/src/main/java/nl/b3p/geotools/data/arcims/ArcIMSFeatureReader.java
  viewer-commons/src/main/java/nl/b3p/geotools/data/arcims/ArcXMLUtils.java
  viewer-commons/src/main/java/nl/b3p/geotools/data/arcims/FilterToArcXMLSQL.java
  viewer-commons/src/main/java/nl/b3p/geotools/data/arcims/axl/AxlField.java
  viewer-commons/src/main/java/nl/b3p/geotools/data/arcims/axl/AxlFieldInfo.java
  viewer-commons/src/main/java/org/opensphere/geometry/algorithm/ConcaveHull.java
  viewer-commons/src/main/java/org/opensphere/geometry/triangulation/DoubleComparator.java
  viewer-commons/src/main/java/org/opensphere/geometry/triangulation/model/Edge.java
  viewer-commons/src/main/java/org/opensphere/geometry/triangulation/model/Vertex.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/services/JDBCFeatureSource.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/services/TileService.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/services/WFSFeatureSource.java
  viewer-config-persistence/src/test/java/nl/b3p/viewer/config/services/TileServiceTest.java
  viewer/src/main/java/nl/b3p/viewer/features/StreamingShapeWriter.java
  viewer/src/main/java/nl/b3p/viewer/image/ImageTool.java
  viewer/src/main/java/nl/b3p/viewer/search/AttributeSourceSearchClient.java
  viewer/src/main/java/nl/b3p/viewer/search/PDOKSearchClient.java
  viewer/src/main/java/nl/b3p/viewer/stripes/BufferActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/CycloramaActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/DrawingActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/EditFeatureActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/FeatureExtentActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/FeatureInfoActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/FeatureReportActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/LayarActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/MergeFeaturesActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/OntbrandingsActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/SplitFeatureActionBean.java
  viewer/src/main/java/nl/b3p/viewer/util/FlamingoCQL.java
Labels: dependencies, java 9+

#1266 fix proxied scale dependent getLegendGraphic request
  viewer-config-persistence/src/test/resources/nl/b3p/viewer/util/testdata.sql
  viewer/src/main/java/nl/b3p/viewer/stripes/ProxyActionBean.java
  viewer/src/test/java/nl/b3p/viewer/stripes/ProxyActionBeanTest.java
Labels: :bomb: bug, viewer

#1268 Allows SCALE as a parameter of any WMS request being proxied [v5.2.2 backport]
  viewer-config-persistence/src/test/resources/nl/b3p/viewer/util/testdata.sql
  viewer/src/main/java/nl/b3p/viewer/stripes/ProxyActionBean.java
  viewer/src/test/java/nl/b3p/viewer/stripes/ProxyActionBeanTest.java
Labels: :bomb: bug, viewer

#1169 Snapping improvements en fixes
  viewer/src/main/webapp/viewer-html/common/viewercontroller/openlayers/OpenLayersSnappingController.js
Labels: :bomb: bug

#1273 Bump GeoTools from 20.0 to 20.1, also bump related dependencies
  .travis.yml
  Jenkinsfile
  pom.xml
Labels: dependencies
