Repository B3Partners/tailormap, pull requests merged in 2020-12, with the labels that each got.

#2142 Feat/gbiw copy adjustments
  tailormap-components/projects/core/src/lib/feature-form/form-copy/form-copy.component.html
  tailormap-components/projects/core/src/lib/feature-form/form-copy/form-copy.component.ts
  tailormap-components/projects/core/src/lib/feature-form/form-copy/form-copy.service.spec.ts
  tailormap-components/projects/core/src/lib/feature-form/form-copy/form-copy.service.ts
  tailormap-components/projects/core/src/lib/feature-form/form-tree/form-tree.component.html
  tailormap-components/projects/core/src/lib/feature-form/form-tree/form-tree.component.ts
  tailormap-components/projects/core/src/lib/workflow/workflows/CopyWorkflow.ts
  viewer/src/main/java/nl/b3p/viewer/stripes/ProxyRESTActionBean.java
Labels: viewer

#2066 WIP userlayer functionality
  viewer-admin/src/main/java/nl/b3p/viewer/admin/stripes/ApplicationTreeLayerActionBean.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/app/ApplicationLayer.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/services/Layer.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/util/databaseupdate/DatabaseSynchronizer.java
  viewer-config-persistence/src/main/resources/scripts/hsqldb-add_userlayer.sql
  viewer-config-persistence/src/main/resources/scripts/microsoft_sql_server-add_userlayer.sql
  viewer-config-persistence/src/main/resources/scripts/oracle-add_userlayer.sql
  viewer-config-persistence/src/main/resources/scripts/postgresql-add_userlayer.sql
  viewer-config-persistence/src/test/resources/nl/b3p/viewer/util/testdata.sql
  viewer/pom.xml
  viewer/src/main/java/nl/b3p/viewer/features/StreamingShapeWriter.java
  viewer/src/main/java/nl/b3p/viewer/image/CombineImageWkt.java
  viewer/src/main/java/nl/b3p/viewer/image/FeatureStyle.java
  viewer/src/main/java/nl/b3p/viewer/stripes/I18nActionBean.java
  viewer/src/main/java/nl/b3p/viewer/stripes/UserLayerActionBean.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/DataBase.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/DataBaseFactory.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/GeoServerManager.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/Oracle.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/PostgreSQL.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/SQLServer.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/TailormapDBManager.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/UserLayerHandler.java
  viewer/src/main/java/nl/b3p/viewer/util/FeatureToJson.java
  viewer/src/main/webapp/META-INF/context.xml
  viewer/src/main/webapp/WEB-INF/classes/log4j.properties
  viewer/src/main/webapp/WEB-INF/web.xml
  viewer/src/test/java/nl/b3p/viewer/ViewerIntegrationTest.java
  viewer/src/test/java/nl/b3p/viewer/stripes/UserLayerActionBeanIntegrationTest.java
  viewer/src/test/java/nl/b3p/viewer/userlayer/DataBaseTest.java
  viewer/src/test/java/nl/b3p/viewer/userlayer/GeoServerManagerOnlineTest.java
  viewer/src/test/java/nl/b3p/viewer/userlayer/PostgreSQLIntegrationTest.java
  viewer/src/test/java/nl/b3p/viewer/userlayer/UserLayerHandlerIntegrationTest.java
  viewer/src/test/resources/log4j.xml
Labels: build infrastructure, featurerequest :+1:, no backport :no_entry:, viewer, viewer-admin, viewer-config-persistence

#2149 Allow date fields to have time associated as a editable field
  viewer/src/main/webapp/viewer-html/components/Edit.js
Labels: :bomb: bug, backport v5.4.x, backport v5.6.x, viewer

#2151 [Backport v5.4.x] Allow date fields to have time associated as a editable field
  .github/workflows/ubuntu-maven.yml
  viewer/src/main/webapp/viewer-html/components/Edit.js
Labels: :bomb: bug, build infrastructure, viewer

#2154 Feat/gbiw 270 paspoort
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-column-controller.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-table-options-form/attributelist-table-options-form.component.html
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-table-options-form/attributelist-table-options-form.component.ts
Labels: build infrastructure

#2139 Backend api for safetymaps components
  pom.xml
  viewer-admin/src/test/java/nl/b3p/viewer/admin/stripes/GeoServiceActionBeanTest.java
  viewer/pom.xml
  viewer/src/main/java/nl/b3p/viewer/stripes/SafetymapsComponentActionBean.java
  viewer/src/main/webapp/META-INF/context.xml
Labels: viewer, viewer-admin

#2155 Feat/gbiw 275 editbar
  tailormap-components/angular.json
  tailormap-components/projects/core/src/assets/imgs/draw_line.svg
  tailormap-components/projects/core/src/assets/imgs/draw_point.svg
  tailormap-components/projects/core/src/assets/imgs/draw_polygon.svg
  tailormap-components/projects/core/src/assets/imgs/merge.svg
  tailormap-components/projects/core/src/assets/imgs/new_object.svg
  tailormap-components/projects/core/src/assets/imgs/pietje.svg
  tailormap-components/projects/core/src/assets/imgs/split.svg
  tailormap-components/projects/core/src/lib/shared/feature-initializer/feature-initializer.service.ts
  tailormap-components/projects/core/src/lib/shared/shared.module.ts
  tailormap-components/projects/core/src/lib/user-interface/add-feature/add-feature-models.ts
  tailormap-components/projects/core/src/lib/user-interface/add-feature/add-feature.component.css
  tailormap-components/projects/core/src/lib/user-interface/add-feature/add-feature.component.html
  tailormap-components/projects/core/src/lib/user-interface/add-feature/add-feature.component.spec.ts
  tailormap-components/projects/core/src/lib/user-interface/add-feature/add-feature.component.ts
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/add-feature-menu/add-feature-menu.component.html
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/add-feature-menu/add-feature-menu.component.ts
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/add-feature-menu/menu-button/menu-button.component.css
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/add-feature-menu/menu-button/menu-button.component.html
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/add-feature-menu/menu-button/menu-button.component.spec.ts
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/add-feature-menu/menu-button/menu-button.component.ts
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/add-feature-menu/pietje.svg
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/edit-bar/edit-bar.component.css
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/edit-bar/edit-bar.component.html
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/edit-bar/edit-bar.component.ts
  tailormap-components/projects/core/src/lib/user-interface/user-interface.module.ts
  tailormap-components/projects/core/src/lib/workflow/workflow-controller/workflow-controller.component.html
  tailormap-components/projects/core/src/lib/workflow/workflow-controller/workflow-controller.component.ts
Labels: build infrastructure

#2153 Feat/gbiw 272 tabbladen meerdere layers
  tailormap-components/projects/core/src/lib/shared/formconfig-repository/formconfig-repository.service.ts
  tailormap-components/projects/core/src/lib/shared/layer-utils/layer-utils.service.ts
  tailormap-components/projects/core/src/lib/shared/models/event-models.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-datasource.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-tab/attributelist-tab.component.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-table/attributelist-table.component.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/layer.service.ts
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/add-feature-menu/add-feature-menu.component.ts
  tailormap-components/projects/core/src/lib/workflow/workflows/CopyWorkflow.ts
  tailormap-components/projects/core/src/lib/workflow/workflows/StandardFormWorkflow.ts
Labels: viewer

#2157 GBIW-280: Fixes create layer button disappearing
  viewer/src/main/webapp/viewer-html/components/AnalysisLayerCreator.js
  viewer/src/main/webapp/viewer-html/components/TOC.js
Labels: viewer

#2143 while instead of do while, prevents error when updating empty service
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/services/WMSService.java
Labels: :bomb: bug, backport v5.6.x, viewer-config-persistence

#2160 Use global variable + environment for assets
  tailormap-components/projects/bridge/src/assets/imgs/interface_copy_filled.svg
  tailormap-components/projects/bridge/src/assets/imgs/interface_copy_outline.svg
  tailormap-components/projects/bridge/src/assets/imgs/interface_folder_filled.svg
  tailormap-components/projects/bridge/src/assets/imgs/interface_folder_outline.svg
  tailormap-components/projects/bridge/src/assets/imgs/navigation_filter_filled.svg
  tailormap-components/projects/bridge/src/assets/imgs/navigation_filter_outline.svg
  tailormap-components/projects/bridge/src/assets/imgs/navigation_layers_filled.svg
  tailormap-components/projects/bridge/src/assets/imgs/navigation_layers_outline.svg
  tailormap-components/projects/bridge/src/assets/imgs/navigation_menu.svg
  tailormap-components/projects/bridge/src/assets/imgs/navigation_search.svg
  tailormap-components/projects/bridge/src/assets/imgs/navigation_selection_filled.svg
  tailormap-components/projects/bridge/src/assets/imgs/navigation_selection_outline.svg
  tailormap-components/projects/bridge/src/assets/imgs/navigation_table_filled.svg
  tailormap-components/projects/bridge/src/assets/imgs/navigation_table_outline.svg
  tailormap-components/projects/bridge/src/assets/imgs/pietje.svg
  tailormap-components/projects/bridge/src/assets/imgs/tool_cursor_filled.svg
  tailormap-components/projects/bridge/src/assets/imgs/tool_cursor_outline.svg
  tailormap-components/projects/bridge/src/assets/imgs/tool_position.svg
  tailormap-components/projects/bridge/src/assets/imgs/tool_ruler_filled.svg
  tailormap-components/projects/bridge/src/assets/imgs/tool_ruler_outline.svg
  tailormap-components/projects/bridge/src/assets/imgs/tool_surface_filled.svg
  tailormap-components/projects/bridge/src/assets/imgs/tool_surface_outline.svg
  tailormap-components/projects/bridge/src/environments/environment.prod.ts
  tailormap-components/projects/bridge/src/environments/environment.ts
  tailormap-components/projects/core/src/lib/shared/shared.module.ts
  viewer/src/main/webapp/WEB-INF/jsp/app.jsp
Labels: viewer

#2158 Added automatic matching of domainlist to forms
  form/src/main/java/nl/b3p/gbi/converter/Attribuut.java
  form/src/main/java/nl/b3p/gbi/converter/Converter.java
  form/src/main/java/nl/b3p/gbi/converter/FormulierField.java
  form/src/main/java/nl/b3p/gbi/converter/FormulierFieldType.java
  form/src/main/java/nl/b3p/gbi/converter/Main.java
  form/src/test/java/nl/b3p/gbi/converter/ConverterTest.java
  tailormap-components/projects/core/src/lib/feature-form/linked-fields/domain-repository/domain-repository.service.ts
  viewer-admin/src/main/java/nl/b3p/viewer/admin/stripes/FormActionBean.java
  viewer-admin/src/main/resources/ViewerResources.properties
  viewer-admin/src/main/resources/ViewerResources_en.properties
  viewer-admin/src/main/webapp/WEB-INF/jsp/services/form.jsp
  viewer-admin/src/main/webapp/resources/js/services/form.js
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/metadata/Metadata.java
Labels: viewer-admin, viewer-config-persistence

#2165 Feat/gbiw 279 splitmerge disable workflows
  tailormap-components/projects/bridge/src/tailor-map.service.ts
  tailormap-components/projects/bridge/typings/Components.d.ts
  tailormap-components/projects/core/src/lib/user-interface/edit-bar/edit-bar/edit-bar.component.ts
  tailormap-components/projects/core/src/lib/workflow/workflow-controller/workflow-controller.service.ts
  tailormap-components/projects/core/src/lib/workflow/workflow-controller/workflow-models.ts
  tailormap-components/projects/core/src/lib/workflow/workflow-factory/workflow-factory.service.ts
  tailormap-components/projects/core/src/lib/workflow/workflows/NoOpWorkflow.ts
  viewer/src/main/webapp/viewer-html/components/Merge.js
  viewer/src/main/webapp/viewer-html/components/Split.js
  viewer/src/main/webapp/viewer-html/components/components.json
Labels: build infrastructure, viewer

#2168 Set boolean to UserLayer
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/app/ApplicationLayer.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/services/Layer.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/TailormapDBManager.java
Labels: viewer, viewer-config-persistence

#2172 Only show button in left_menu
  viewer/src/main/webapp/viewer-html/components/Merge.js
  viewer/src/main/webapp/viewer-html/components/Split.js
Labels: viewer

#2171 restore java 11 testing on Jenkins
  Jenkinsfile
Labels: backport v5.6.x, build infrastructure

#2174 GBIW 310 attribute list use domain values
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-datasource.ts
Labels: build infrastructure

#2175 restore java 11 testing on Jenkins (#2171)
  Jenkinsfile
Labels: build infrastructure

#2183 GBIW-257 Validate query before creating a view
  viewer/src/main/java/nl/b3p/viewer/stripes/UserLayerActionBean.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/DataBase.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/Oracle.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/PostgreSQL.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/SQLServer.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/UserLayerHandler.java
  viewer/src/test/java/nl/b3p/viewer/userlayer/OracleIntegrationTest.java
  viewer/src/test/java/nl/b3p/viewer/userlayer/PostgreSQLIntegrationTest.java
  viewer/src/test/java/nl/b3p/viewer/userlayer/SQLServerIntegrationTest.java
  viewer/src/test/java/nl/b3p/viewer/userlayer/UserLayerHandlerIntegrationTest.java
Labels: viewer

#2185 Authorizations for forms created
  tailormap-components/projects/core/src/lib/shared/formconfig-repository/formconfig-repository.service.ts
  viewer-admin/src/main/java/nl/b3p/viewer/admin/stripes/FormActionBean.java
  viewer-admin/src/main/resources/ViewerResources.properties
  viewer-admin/src/main/resources/ViewerResources_en.properties
  viewer-admin/src/main/webapp/WEB-INF/jsp/services/editform.jsp
  viewer-admin/src/main/webapp/resources/css/main.css
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/forms/Form.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/security/Authorizations.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/util/databaseupdate/DatabaseSynchronizer.java
  viewer-config-persistence/src/main/resources/scripts/hsqldb-add_form.sql
  viewer-config-persistence/src/main/resources/scripts/microsoft_sql_server-add_form-readers
  viewer-config-persistence/src/main/resources/scripts/oracle-add_form-readers.sql
  viewer-config-persistence/src/main/resources/scripts/postgresql-add_form-readers.sql
  viewer-config-persistence/src/test/resources/nl/b3p/viewer/util/testdata.sql
  viewer/src/main/java/nl/b3p/viewer/stripes/FormActionBean.java
Labels: featurerequest :+1:, no backport :no_entry:, viewer, viewer-admin, viewer-config-persistence

#2186 GBIW-290: Show different icon + styling for user layer.
  tailormap-components/projects/core/src/lib/analysis/create-layer-form/create-layer-form.component.html
  tailormap-components/projects/core/src/lib/application/state/application.selectors.ts
  tailormap-components/projects/core/src/styles/styles.css
  viewer/src/main/webapp/resources/css/viewer.css
  viewer/src/main/webapp/viewer-html/common/viewercontroller/ViewerController.js
  viewer/src/main/webapp/viewer-html/components/TOC.js
  viewer/src/main/webapp/viewer-html/components/resources/images/selectionModule/selection_layer.png
Labels: no backport :no_entry:, viewer

#2188 Feat/gbiw 305 312 user layer backend improvements
  viewer/src/main/java/nl/b3p/viewer/userlayer/TailormapDBManager.java
Labels: viewer

#2191 GBIW-41: Thematic Selection
  tailormap-components/projects/core/src/lib/analysis/analysis-button/analysis-button.component.html
  tailormap-components/projects/core/src/lib/analysis/analysis.module.ts
  tailormap-components/projects/core/src/lib/analysis/attribute-selector/attribute-selector.component.css
  tailormap-components/projects/core/src/lib/analysis/attribute-selector/attribute-selector.component.html
  tailormap-components/projects/core/src/lib/analysis/attribute-selector/attribute-selector.component.spec.ts
  tailormap-components/projects/core/src/lib/analysis/attribute-selector/attribute-selector.component.ts
  tailormap-components/projects/core/src/lib/analysis/create-layer-form/create-layer-form.component.css
  tailormap-components/projects/core/src/lib/analysis/create-layer-form/create-layer-form.component.html
  tailormap-components/projects/core/src/lib/analysis/create-layer-form/create-layer-form.component.ts
  tailormap-components/projects/core/src/lib/analysis/create-layer-layer-selection/create-layer-layer-selection.component.ts
  tailormap-components/projects/core/src/lib/analysis/create-layer-mode-attributes/create-layer-mode-attributes.component.css
  tailormap-components/projects/core/src/lib/analysis/create-layer-mode-attributes/create-layer-mode-attributes.component.html
  tailormap-components/projects/core/src/lib/analysis/create-layer-mode-attributes/create-layer-mode-attributes.component.spec.ts
  tailormap-components/projects/core/src/lib/analysis/create-layer-mode-attributes/create-layer-mode-attributes.component.ts
  tailormap-components/projects/core/src/lib/analysis/create-layer-mode-thematic/create-layer-mode-thematic.component.css
  tailormap-components/projects/core/src/lib/analysis/create-layer-mode-thematic/create-layer-mode-thematic.component.html
  tailormap-components/projects/core/src/lib/analysis/create-layer-mode-thematic/create-layer-mode-thematic.component.spec.ts
  tailormap-components/projects/core/src/lib/analysis/create-layer-mode-thematic/create-layer-mode-thematic.component.ts
  tailormap-components/projects/core/src/lib/analysis/create-layer-panel/create-layer-panel.component.html
  tailormap-components/projects/core/src/lib/analysis/create-layer-panel/create-layer-panel.component.ts
  tailormap-components/projects/core/src/lib/analysis/create-layer-styling/create-layer-styling.component.css
  tailormap-components/projects/core/src/lib/analysis/create-layer-styling/create-layer-styling.component.html
  tailormap-components/projects/core/src/lib/analysis/create-layer-styling/create-layer-styling.component.ts
  tailormap-components/projects/core/src/lib/analysis/criteria/criteria/criteria.component.html
  tailormap-components/projects/core/src/lib/analysis/criteria/criteria/criteria.component.ts
  tailormap-components/projects/core/src/lib/analysis/criteria/helpers/criteria.helper.ts
  tailormap-components/projects/core/src/lib/analysis/helpers/style.helper.ts
  tailormap-components/projects/core/src/lib/analysis/models/analysis-source.model.ts
  tailormap-components/projects/core/src/lib/analysis/models/scoped-user-layer-style.model.ts
  tailormap-components/projects/core/src/lib/analysis/models/user-layer-style.model.ts
  tailormap-components/projects/core/src/lib/analysis/services/user-layer.service.ts
  tailormap-components/projects/core/src/lib/analysis/state/analysis.actions.ts
  tailormap-components/projects/core/src/lib/analysis/state/analysis.effects.ts
  tailormap-components/projects/core/src/lib/analysis/state/analysis.reducer.ts
  tailormap-components/projects/core/src/lib/analysis/state/analysis.selectors.ts
  tailormap-components/projects/core/src/lib/analysis/state/analysis.state.ts
  tailormap-components/projects/core/src/lib/analysis/state/test-data/analysis-test-data.ts
  tailormap-components/projects/core/src/lib/analysis/style-form-panel/style-form-panel.component.css
  tailormap-components/projects/core/src/lib/analysis/style-form-panel/style-form-panel.component.html
  tailormap-components/projects/core/src/lib/analysis/style-form-panel/style-form-panel.component.spec.ts
  tailormap-components/projects/core/src/lib/analysis/style-form-panel/style-form-panel.component.ts
  tailormap-components/projects/core/src/lib/analysis/style-form/style-form.component.css
  tailormap-components/projects/core/src/lib/analysis/style-form/style-form.component.html
  tailormap-components/projects/core/src/lib/analysis/style-form/style-form.component.spec.ts
  tailormap-components/projects/core/src/lib/analysis/style-form/style-form.component.ts
  tailormap-components/projects/core/src/lib/shared/value-service/value-models.ts
  tailormap-components/projects/core/src/lib/shared/value-service/value.service.ts
Labels: viewer

#2190 GBIW 314 edit objects from userlayer
  tailormap-components/projects/bridge/src/tailor-map.service.ts
  tailormap-components/projects/bridge/typings/Mapcomponents.d.ts
  tailormap-components/projects/core/src/lib/shared/layer-utils/layer-utils.service.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-datasource.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-details/attributelist-details.component.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-table/attributelist-table.component.ts
  tailormap-components/projects/core/src/lib/workflow/workflows/StandardFormWorkflow.ts
  viewer-admin/src/main/java/nl/b3p/viewer/admin/stripes/ApplicationTreeLayerActionBean.java
  viewer-config-persistence/src/main/java/nl/b3p/viewer/config/app/ApplicationLayer.java
  viewer/src/main/java/nl/b3p/viewer/userlayer/TailormapDBManager.java
Labels: viewer, viewer-admin, viewer-config-persistence

#2189 Feat/gbiw 249 meer filtertypes
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-column-controller.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-datasource.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-filter-models.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-filter.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-models.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-filter-values-form/attributelist-filter-values-form.component.css
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-filter-values-form/attributelist-filter-values-form.component.html
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-filter-values-form/attributelist-filter-values-form.component.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-table/attributelist-table.component.ts
Labels: viewer

#2192 GBIW-284 reset filter knop
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-datasource.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-common/attributelist-filter.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-tab-toolbar/attributelist-tab-toolbar.component.html
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-tab-toolbar/attributelist-tab-toolbar.component.ts
  tailormap-components/projects/core/src/lib/user-interface/attributelist/attributelist-table/attributelist-table.component.ts
Labels: viewer

#2193 Fixes circular dependency
  tailormap-components/projects/core/src/lib/analysis/criteria/helpers/criteria.helper.ts
  tailormap-components/projects/core/src/lib/analysis/helpers/style.helper.ts
  tailormap-components/projects/core/src/lib/application/helpers/attribute-type.helper.ts
Labels: viewer
