Repository B3Partners/tailormap, pull requests merged in 2021-07, with the labels that each got.

#2770 Add restproxy.host init parameter for proxying to virtual host
  viewer/src/main/java/nl/b3p/viewer/stripes/ProxyRESTActionBean.java
Labels: viewer

#2771 Add restproxy.host init parameter for proxying to virtual host
  viewer/src/main/java/nl/tailormap/viewer/stripes/ProxyRESTActionBean.java
Labels: :bomb: bug, viewer

#2773 Angular 3rd party components preparations
  tailormap-components/angular.json
  tailormap-components/package-lock.json
  tailormap-components/package.json
  tailormap-components/projects/bridge/src/app/app.module.ts
  tailormap-components/projects/bridge/typings/Mapcomponents.d.ts
  tailormap-components/projects/core/src/lib/analysis/criteria/advanced-criteria/advanced-criteria.component.spec.ts
  tailormap-components/projects/core/src/lib/analysis/criteria/advanced-criteria/advanced-criteria.component.ts
  tailormap-components/projects/core/src/lib/core.module.ts
  tailormap-components/projects/core/src/lib/feature-form/form-copy/form-copy.component.ts
  tailormap-components/projects/core/src/lib/feature-form/form-creator/form-creator.component.ts
  tailormap-components/projects/core/src/lib/feature-form/form/form.component.ts
  tailormap-components/projects/core/src/lib/shared/confirm-dialog/confirm-dialog.component.css
  tailormap-components/projects/core/src/lib/shared/confirm-dialog/confirm-dialog.component.html
  tailormap-components/projects/core/src/lib/shared/confirm-dialog/confirm-dialog.component.spec.ts
  tailormap-components/projects/core/src/lib/shared/confirm-dialog/confirm-dialog.component.ts
  tailormap-components/projects/core/src/lib/shared/confirm-dialog/confirm-dialog.service.ts
  tailormap-components/projects/core/src/lib/shared/feature-selection/feature-selection.service.ts
  tailormap-components/projects/core/src/lib/shared/layer-utils/layer-utils.service.ts
  tailormap-components/projects/core/src/lib/shared/shared.module.ts
  tailormap-components/projects/core/src/lib/shared/tests/test-data.ts
  tailormap-components/projects/core/src/lib/workflow/state/workflow-models.ts
  tailormap-components/projects/core/src/lib/workflow/workflow-factory/workflow-factory.service.spec.ts
  tailormap-components/projects/core/src/lib/workflow/workflow-factory/workflow-factory.service.ts
  tailormap-components/projects/core/src/lib/workflow/workflows/StandardFormWorkflow.ts
  tailormap-components/projects/core/src/lib/workflow/workflows/Workflow.ts
  tailormap-components/projects/core/src/styles/styles.css
  tailormap-components/projects/third-party-components/.npmrc
  tailormap-components/projects/third-party-components/README.md
  tailormap-components/projects/third-party-components/bin/merge-assets-angular.js
  tailormap-components/projects/third-party-components/karma.conf.js
  tailormap-components/projects/third-party-components/ng-package.json
  tailormap-components/projects/third-party-components/package.json
  tailormap-components/projects/third-party-components/src/index.ts
  tailormap-components/projects/third-party-components/src/lib/third-party-components.module.ts
  tailormap-components/projects/third-party-components/src/public-api.ts
  tailormap-components/projects/third-party-components/src/test.ts
  tailormap-components/projects/third-party-components/third-party-components-assets.json
  tailormap-components/projects/third-party-components/tsconfig.lib.json
  tailormap-components/projects/third-party-components/tsconfig.lib.prod.json
  tailormap-components/projects/third-party-components/tsconfig.spec.json
  tailormap-components/tsconfig.json
Labels: viewer

#2779 Use new @tailormap/models package
  tailormap-components/package-lock.json
  tailormap-components/package.json
  tailormap-components/projects/core/src/lib/analysis/analysis-attribute-list-button/analysis-attribute-list-button.component.ts
  tailormap-components/projects/core/src/lib/analysis/attribute-selector/attribute-selector.component.ts
  tailormap-components/projects/core/src/lib/analysis/create-layer-layer-selection/create-layer-layer-selection.component.ts
  tailormap-components/projects/core/src/lib/analysis/criteria/criteria-description/criteria-description.component.ts
  tailormap-components/projects/core/src/lib/analysis/criteria/criteria/criteria.component.ts
  tailormap-components/projects/core/src/lib/analysis/services/create-style.service.ts
  tailormap-components/projects/core/src/lib/application/services/application.service.ts
  tailormap-components/projects/core/src/lib/application/services/metadata.service.ts
  tailormap-components/projects/core/src/lib/application/services/mocks/metadata.service.mock.ts
  tailormap-components/projects/core/src/lib/core.module.ts
  tailormap-components/projects/core/src/lib/feature-form/form/form.component.ts
  tailormap-components/projects/core/src/lib/shared/attribute-service/attribute.service.ts
  tailormap-components/projects/core/src/lib/shared/export-service/export.service.ts
  tailormap-components/projects/core/src/lib/shared/feature-selection/feature-selection.service.ts
  tailormap-components/projects/core/src/lib/shared/highlight-service/highlight.service.ts
  tailormap-components/projects/core/src/lib/shared/statistic-service/statistic.service.ts
  tailormap-components/projects/core/src/lib/workflow/workflow-factory/workflow-factory.service.spec.ts
Labels: viewer

#2778 Feat/tm 242 multiple endpoints support
  viewer/src/main/java/nl/tailormap/viewer/stripes/ProxyRESTActionBean.java
  viewer/src/main/webapp/META-INF/context.xml
Labels: enhancement :+1:, no backport :no_entry:, viewer

#2789 Bump node and npm to latest LTS version
  pom.xml
Labels: build infrastructure

#2790 LGTM improvements
  .github/dependabot.yml
  .gitignore
  .lgtm/settings.xml
  Jenkinsfile
  lgtm.yml
  nbactions.xml
  package-lock.json
  pom.xml
  tailormap-components/angular.json
  tailormap-components/package-lock.json
  viewer-admin/nbactions.xml
  viewer-config-persistence/nbactions.xml
  viewer/nbactions.xml
  viewer/pom.xml
Labels: build infrastructure, dependencies, viewer, viewer-admin, viewer-config-persistence

#2814 Upgrade pl.project13.maven:git-commit-id-plugin:4.0.5 to io.github.git-commit-id:git-commit-id-maven-plugin:5.0.0
  pom.xml
  viewer-admin/pom.xml
  viewer/pom.xml
Labels: build infrastructure, java11, no backport :no_entry:, viewer, viewer-admin

#2816 skip frontend-maven-plugin on LGTM
  .lgtm/settings.xml
  lgtm.yml
  solr-commons/src/main/java/nl/tailormap/viewer/solr/SolrUpdateJob.java
  viewer/pom.xml
Labels: build infrastructure, no backport :no_entry:, viewer

#2815 [TM-252] remove Layar (service and source)
  viewer-admin/src/main/java/nl/tailormap/viewer/admin/stripes/LayarServiceActionBean.java
  viewer-admin/src/main/java/nl/tailormap/viewer/admin/stripes/LayarSourceActionBean.java
  viewer-admin/src/main/resources/ViewerResources.properties
  viewer-admin/src/main/resources/ViewerResources_en.properties
  viewer-admin/src/main/webapp/WEB-INF/jsp/header.jsp
  viewer-admin/src/main/webapp/WEB-INF/jsp/services/editlayarservice.jsp
  viewer-admin/src/main/webapp/WEB-INF/jsp/services/editlayarsource.jsp
  viewer-admin/src/main/webapp/WEB-INF/jsp/services/layarservice.jsp
  viewer-admin/src/main/webapp/WEB-INF/jsp/services/layarsource.jsp
  viewer-admin/src/main/webapp/resources/html/help.html
  viewer-admin/src/main/webapp/resources/js/services/layarservice.js
  viewer-admin/src/main/webapp/resources/js/services/layarsource.js
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/services/LayarService.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/services/LayarSource.java
  viewer-config-persistence/src/main/resources/META-INF/orm-hsqldb.xml
  viewer-config-persistence/src/main/resources/META-INF/orm-postgresql.xml
  viewer-config-persistence/src/main/resources/scripts/hsqldb-drop_layar.sql
  viewer-config-persistence/src/main/resources/scripts/postgresql-drop_layar.sql
  viewer-config-persistence/src/test/resources/nl/tailormap/viewer/util/testdata.sql
  viewer-helpers/src/main/java/nl/tailormap/viewer/helpers/featuresources/SimpleFeatureTypeHelper.java
  viewer-helpers/src/main/java/nl/tailormap/viewer/helpers/services/ArcGISServiceHelper.java
  viewer-helpers/src/main/java/nl/tailormap/viewer/util/databaseupdate/DatabaseSynchronizer.java
  viewer/src/main/java/nl/tailormap/viewer/stripes/LayarActionBean.java
Labels: no backport :no_entry:, viewer, viewer-admin, viewer-config-persistence
