Repository B3Partners/tailormap, pull requests merged in 2022-04, with the labels that each got.

#3187 use rightside attributes to get rightID
  viewer-admin/src/main/java/nl/tailormap/viewer/admin/stripes/FeatureTypeRelationActionBean.java
Labels: bug, viewer-admin

#3201 GBIM-317: Hide geometry after closing form.
  tailormap-components/projects/core/src/lib/feature-form/state/form.state-helpers.ts
  tailormap-components/projects/core/src/lib/workflow/workflows/StandardFormWorkflow.ts
  tailormap-components/projects/core/src/lib/workflow/workflows/Workflow.ts
Labels: bug, viewer

#3200 Bump geotools.version from 25.5 to 25.6
  .github/workflows/ubuntu-maven.yml
  pom.xml
Labels: build infrastructure, security, dependencies

#3202 SUPPORT-12983: delete file in try and catch, this not a fatal error
  viewer/src/main/java/nl/tailormap/viewer/features/ShapeDownloader.java
Labels: bug, backport v5.8.x, viewer

#3207 GBIM-314: Do not load all domain options for domain fields at boot
  tailormap-components/projects/core/src/lib/application/services/application.service.ts
  tailormap-components/projects/core/src/lib/feature-form/form/form.component.css
  tailormap-components/projects/core/src/lib/feature-form/form/form.component.html
  tailormap-components/projects/core/src/lib/feature-form/form/form.component.ts
  tailormap-components/projects/core/src/lib/feature-form/linked-fields/domain-repository/domain-repository.service.ts
Labels: bug, viewer

#3204 Replace log4j 1.x with reload4j and remove ancient `eu.medsea.mimeutil:mime-util` dependency
  .mvn/owasp-suppression.xml
  pom.xml
  viewer-admin/pom.xml
  viewer-audit/pom.xml
  viewer-config-persistence/pom.xml
  viewer-helpers/pom.xml
  viewer/pom.xml
  viewer/src/main/java/nl/tailormap/viewer/stripes/ComponentResourceActionBean.java
Labels: build infrastructure, security, dependencies, viewer-admin, viewer, viewer-config-persistence

#3205 [Backport v5.8.x] Replace log4j 1.x with reload4j and remove ancient `eu.medsea.mimeutil:mime-util` dependency
  .github/workflows/macos-maven.yml
  .github/workflows/ubuntu-maven.yml
  .mvn/owasp-suppression.xml
  Jenkinsfile
  pom.xml
  viewer-admin/pom.xml
  viewer-audit/pom.xml
  viewer-config-persistence/pom.xml
  viewer/pom.xml
  viewer/src/main/java/nl/b3p/viewer/stripes/ComponentResourceActionBean.java
Labels: build infrastructure, security, dependencies, viewer-admin, viewer, viewer-config-persistence

#3206 do not iterate over relations if searching for next relation is false…
  viewer/src/main/java/nl/tailormap/viewer/stripes/DownloadFeaturesActionBean.java
Labels: bug, viewer

#3215 GBIM-324: Fix disappearing buttons after attribute list was hidden
  tailormap-components/package-lock.json
  tailormap-components/package.json
  tailormap-components/projects/core/src/lib/feature-form/form-attribute-list-button/form-attribute-list-button.component.ts
Labels: bug, viewer
