Repository B3Partners/tailormap, pull requests merged in 2022-03, with the labels that each got.

#3140 Add testdata for HTM-242
  tailormap-components/package.json
  viewer-config-persistence/src/test/resources/nl/tailormap/viewer/util/testdata.sql
Labels: enhancement, build infrastructure, viewer, viewer-config-persistence

#3154 check if relations must search for next relations to prevent an infin…
  viewer-admin/src/main/java/nl/tailormap/viewer/admin/stripes/ApplicationTreeLayerActionBean.java
  viewer-helpers/src/main/java/nl/tailormap/viewer/helpers/app/ApplicationLayerHelper.java
  viewer-helpers/src/main/java/nl/tailormap/viewer/helpers/featuresources/SimpleFeatureTypeHelper.java
Labels: bug, viewer-admin, viewer

#3155 GBIM-308: Prevent application from crashing after removing userlayer
  viewer/src/main/webapp/viewer-html/components/Legend.js
Labels: bug, viewer

#3161 GBIM-309, GBIM-311, GBIM-312
  tailormap-components/projects/core/src/lib/feature-form/form-creator/form-creator.component.ts
  tailormap-components/projects/core/src/lib/feature-form/form/form.component.ts
  tailormap-components/projects/core/src/lib/feature-form/state/form.reducer.ts
  tailormap-components/projects/core/src/lib/feature-form/state/form.selectors.ts
  tailormap-components/projects/core/src/lib/feature-form/state/form.state-helpers.ts
Labels: bug, viewer

#3163 GBIM-302: added support for creating relations based on a csv file
  viewer-admin/src/main/java/nl/tailormap/viewer/admin/stripes/FeatureTypeRelationActionBean.java
  viewer-admin/src/main/resources/ViewerResources.properties
  viewer-admin/src/main/resources/ViewerResources_en.properties
  viewer-admin/src/main/webapp/WEB-INF/jsp/services/editfeaturetyperelation.jsp
Labels: enhancement, viewer-admin

#3166 GBIM-238: don't add the line that has been drawn for using to split as a new line
  viewer/src/main/java/nl/tailormap/viewer/stripes/SplitFeatureActionBean.java
Labels: bug, viewer

#3171 GBIM-310: Prevent create userlayer from attr-list if other filters are set
  tailormap-components/projects/core/src/lib/analysis/analysis-attribute-list-button/analysis-attribute-list-button.component.ts
Labels: bug, viewer

#3176 GBIM-201: Build a correct URI from the HttpServletRequest
  viewer/src/main/java/nl/tailormap/viewer/stripes/ApplicationActionBean.java
Labels: bug, viewer
