Repository B3Partners/tailormap, pull requests merged in 2022-01, with the labels that each got.

#3010 [HTM-72] Release the viewer-config-persistence module under both AGPL as well as MIT
  pom.xml
  viewer-config-persistence/LICENSE.txt
  viewer-config-persistence/MIT.txt
  viewer-config-persistence/NOTICE.md
  viewer-config-persistence/pom.xml
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/components/ViewerComponent.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/CRS.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/ClobElement.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/CycloramaAccount.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/RemoveEmptyMapValuesUtil.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/app/Application.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/app/ApplicationLayer.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/app/Bookmark.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/app/ConfiguredAttribute.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/app/ConfiguredComponent.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/app/FileUpload.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/app/Level.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/app/Resource.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/app/StartLayer.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/app/StartLevel.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/forms/Form.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/metadata/Metadata.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/security/Authorizations.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/security/Group.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/security/User.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/util/ApplicationDetailsValueTransformer.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/util/Coalesce.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/util/DB.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/util/LayerListHelper.java
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/util/SnakeCasePhysicalNamingStrategy.java
  viewer-config-persistence/src/test/java/nl/tailormap/viewer/config/app/BookmarkTest.java
  viewer-config-persistence/src/test/java/nl/tailormap/viewer/config/app/StartLayerTest.java
  viewer-config-persistence/src/test/java/nl/tailormap/viewer/config/app/StartLevelTest.java
  viewer-config-persistence/src/test/java/nl/tailormap/viewer/util/LoggingTestUtil.java
  viewer-config-persistence/src/test/java/nl/tailormap/viewer/util/TestUtil.java
Labels: enhancement, featurerequest, no backport :no_entry:, viewer-config-persistence

#2998 GBIM-258: Implement multi-select fields in form
  tailormap-components/projects/core/src/lib/feature-form/form-creator/form-creator-helpers.ts
  tailormap-components/projects/core/src/lib/feature-form/form-creator/form-creator.component.css
  tailormap-components/projects/core/src/lib/feature-form/form-creator/form-creator.component.ts
  tailormap-components/projects/core/src/lib/feature-form/form-field/form-field-helpers.ts
  tailormap-components/projects/core/src/lib/feature-form/form-field/formfield.component.ts
  tailormap-components/projects/core/src/lib/feature-form/form-tree/form-tree-helpers.ts
  tailormap-components/projects/core/src/lib/feature-form/form/form-helpers.ts
  tailormap-components/projects/core/src/lib/feature-form/form/form-models.ts
  tailormap-components/projects/core/src/lib/feature-form/state/form-relation.model.ts
  tailormap-components/projects/core/src/lib/user-interface/generic-components/base-field/base-field.component.ts
  tailormap-components/projects/core/src/lib/user-interface/generic-components/input-field/input-field.component.html
  tailormap-components/projects/core/src/lib/user-interface/generic-components/label-field/label-field.component.ts
  tailormap-components/projects/core/src/lib/user-interface/generic-components/select-field/select-field.component.html
  tailormap-components/projects/core/src/lib/user-interface/generic-components/select-field/select-field.component.ts
Labels: viewer

#3046 PDOK changed their URL's
  viewer-admin/src/test/java/nl/tailormap/viewer/admin/stripes/GeoServiceActionBeanTest.java
Labels: bug, backport v5.6.x, backport v5.8.x, viewer-admin

#3047 [Backport v5.6.x] PDOK changed their URL's
  viewer-admin/src/test/java/nl/b3p/viewer/admin/stripes/GeoServiceActionBeanTest.java
Labels: viewer-admin

#3048 [Backport v5.8.x] PDOK changed their URL's
  viewer-admin/src/test/java/nl/b3p/viewer/admin/stripes/GeoServiceActionBeanTest.java
Labels: viewer-admin

#3068 [HTM-124] make it possible to store the service capabilities document
  viewer-config-persistence/src/main/java/nl/tailormap/viewer/config/services/GeoService.java
  viewer-config-persistence/src/main/resources/META-INF/persistence.xml
  viewer-config-persistence/src/main/resources/scripts/hsqldb-add_capabilities_doc.sql
  viewer-config-persistence/src/main/resources/scripts/postgresql-add_capabilities_doc.sql
  viewer-config-persistence/src/test/resources/nl/tailormap/viewer/util/testdata.sql
  viewer-helpers/src/main/java/nl/tailormap/viewer/util/databaseupdate/DatabaseSynchronizer.java
Labels: enhancement, no backport :no_entry:, viewer-config-persistence

#3073 [HTM-125] Add all those persistence classes
  viewer-config-persistence/src/main/resources/META-INF/persistence.xml
Labels: bug, no backport :no_entry:, viewer-config-persistence

#3072 [HTM-122] Store WMTS capabilities document when loading or updating service
  viewer-helpers/src/main/java/nl/tailormap/viewer/helpers/services/TilingServiceHelper.java
Labels: enhancement, no backport :no_entry:, viewer-config-persistence
