Repository B3Partners/tailormap, pull requests merged in 2023-02, with the labels that each got.

#3495 impr/SUPPORT-13498: added svg symbol for highlight component
  viewer/src/main/webapp/viewer-html/sprite.svg
Labels: enhancement, viewer

#3494 Bug/support 13455 simple filter config freezes in mashup
  viewer-config-persistence/src/test/java/nl/b3p/viewer/config/services/TileServiceTest.java
  viewer/src/main/webapp/viewer-html/components/SimpleFilter-config.js
  viewer/src/main/webapp/viewer-html/components/SimpleFilter-filters-config.js
Labels: bug, viewer-admin

#3501 Bump various dependencies, resolves CVE-2023-25158, CVE-2023-24998
  pom.xml
Labels: security, dependencies
